[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlcipher3 = "*"
pandas = "*"
requests = "*"
urllib3 = "*"
numpy = "*"
pycrossva = ">=0.96"
pipfile = "*"
certifi = ">=2023.7.22"