[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pysqlcipher3" = "*"
pandas = ">=1.2.4"
requests = "*"
urllib3 = ">=1.24.2"
numpy = ">=1.20.3"

[dev-packages]

[requires]
python_version = "3.7"
